@import "tailwindcss";

@theme {
  --color-marca: #5CB5D6; /* troquem pelas cores de vocês */
  --color-fundo: #7EC4EE; 
  --color-destaque: #1F4A87;
  --color-botao: #4477AC;
  --color-texto-destaque: #151B4D;
  --color-destaque-claro: #00A5E3;
}