@import "tailwindcss";

@theme {
  --color-marca:#6D8FA2; /* troquem pelas cores de vocês */
  --color-fundo: #F9F9F9; 
  --color-destaque: #AAC7D8; 
  --color-botao: #2C6B8D;
  --color-texto-destaque: #9DA7AD;
  --color-destaque-claro: #00A5E3;
}